@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

body, html {
    height: 100%;
    text-align: center;
}

table {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

th, caption {
    text-align: left;
}

table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

form {
    display:inline-block;
}

.top {
    flex: 1 1 auto;
}

.important-stats, .inspiration, .personality, .spell {
    margin-left: 2%;
}

.inspiration {
    width: 912px;
}

.long {
    margin-right: 27.7%;
    margin-top: -47.1%;
    height: 611px;
}

textarea {
    resize: none;
}

.skills {
    margin-left: 72.5%;
    margin-top: -66%;
    height: 820px;
}

.hits {
    margin-left: 49.5%;
    margin-top: -65.1%;
    width: 296px;
}

.spell {
    margin-top: 0%;
    width: 905px;
}