body, html {
    height: 100%;
    text-align: center;
}

table {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

th, caption {
    text-align: left;
}

table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

form {
    display:inline-block;
}

.top {
    flex: 1 1 auto;
}

.important-stats, .inspiration, .personality {
    margin-left: 2%;
}

.long {
    width: 25%;
    top: 900px;
    margin-right: 27.5%;
    margin-top: -47.5%;
    height: 50px;
}


textarea {
    resize: none;
}

.skills {
    margin-left: 72.5%;
    margin-top: -48%;
}

.hits {
    margin-left: 49.5%;
    margin-top: -65.5%;
}

.spell {
    margin-left: 2%;
    margin-top: 0%
}