@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

body, h1 {
    text-align: center;
}

.form {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

.m-10px {
    margin-right: auto;
    text-align: center;
}

.container-fluid {
    margin-left: auto;
}

.skills caption {
    text-align: center;
    color: black;
}

.columns {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
  
.rows:after {
    content: "";
    display: table;
    clear: both;
}

/*table {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

th, caption {
    text-align: left;
}

table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}*/

.top {
    flex: 1 1 auto;
}

.spell {
    margin-right: auto;
    margin-left: auto;
}

.spell caption {
    text-align: center;
    color: black;;
}