@import url('https://fonts.googleapis.com/css?family=Muli:300,900');

.table input[type=number] {
    width: 100%;
}

body, html {
    height: 100%;
}

.top {
    flex: 1 1 auto;
}

#column {
    columns: 250px 3;
    column-rule: 1px dotted #ccc;
    column-gap: 3em;
}
table {
    width: 49%;
    float: left;
}

table:first-child {
    background-color: blue;
    color: white;
    margin-right: 1%;
}

table:second-child {
    background-color: black;
    color: white;
}

/*html {
    color: #222;
    font-size: 1rem;
    line-height: 1.4;
}


body {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    background-position: center;
}

.top {
    flex: 1 1 auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.middle h1 {
    text-align: center;
}

.top-section {
    text-align: right;
    justify-content: center;
}

table {
    width: 100%;
}

table, td {
    border: solid black 1px;
}

#skills {
    margin-top: 0px;
    margin-left: 800px;
}

.skills {
    margin-left: 920px;
    margin-top: -570px;
}

.stats {
    margin: auto;
}

#text {
    margin-left: 450px;
    margin-top: -570px;
}

#input {
    margin-top: -15.5px;
    margin-left: 450px
}

#more-stats {
    margin-left: 450px;
    margin-top: -661px;
}

.spells {
    margin-top: -230px;
    margin-left: 100px;
}

#spells {
    margin-left: -20px;
}*/

.bottom {
    bottom: 0;
    left: 0;
    text-align: center;
    color: black;
    width: 100%;
    margin-top: 400px;
}