body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    background-image: url("../img/dndbackground.jpg");
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.top {
    flex: 1 1 auto;
}

.middle {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-wrap: wrap;
    min-height: min-content;
    order: 0;
    flex: 1 1 auto;
    color: black;
}

.titleBar {
    text-align: center;
}

.titleBar h1 {
    font-size: 80px;
    font-family: fantasy;
}

.titleBar h2 {
    font-size: 40px;
    font-family: fantasy;
}

.button {
    background-color: transparent;
    border: none;
    color: black;
    padding: 20px 60px;
    text-align: center;
    text-decoration: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: fantasy;
}

.button:hover {
    background-color: transparent;
    border: 2px solid white;
}

.bottom {
    bottom: 0;
    justify-content: center;
    text-align: center;
    color: black;
}

.nav {
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
}

.container {
    background-color: #83c5be;
    border-radius: 6px;
    width: 75%;
    margin: 200px;
    padding-top: 5px;
    box-shadow: 10px 10px 5px #006d77;
    position: relative;
}
